{{!-- this is the code that the activity 3 of week 17 uses --}}
{{!-- <div id="home"> --}}
{{!-- <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>This is our Home Page!</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Example Text</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div> --}}




{{!-- this is the code that the template uses --}}
<main>
	<div class="layout">
		<!-- Start of Navigation -->
		<div class="navigation">
			<div class="container">
				<div class="inside">
					<div class="nav nav-tab menu">
						{{!-- <button class="btn"><img class="avatar-xl" src="https://cdn.pixabay.com/photo/2013/07/12/14/09/football-147854_960_720.png"
									alt="avatar"></button> --}}
						<button class="btn"><img class="avatar-xl" src="images/m.jpg" alt="avatar"></button>
						<a href="#members" data-toggle="tab"><i title="Playbooks" class="material-icons">import_contacts</i></a>
						<a href="#discussions" data-toggle="tab" class="active"><i title="Chatroom"
								class="material-icons active">chat_bubble_outline</i></a>
						<a href="#notifications" data-toggle="tab" class="f-grow1"><i title="Pro Help"
								class="material-icons">live_help</i></a>
						<button class="btn mode"><i title="Color Mode" class="material-icons">brightness_2</i></button>
						<a href="#settings" data-toggle="tab"><i title="Settings" class="material-icons">settings</i></a>
						<button class="btn power"><i title="Sign Out" class="material-icons">power_settings_new</i></button>
					</div>
				</div>
			</div>
		</div>
		<!-- End of Navigation -->
		<!-- Start of Sidebar -->
		<div class="sidebar" id="sidebar">
			<div class="container">
				<div class="col-md-12">
					<div class="tab-content">
						<!-- Start of Playbooks -->
						<div class="tab-pane fade" id="members">
							<div class="search">
								<form class="form-inline position-relative">
									<input type="search" class="form-control" id="people" placeholder="Search for plays...">
									<button type="button" class="btn btn-link loop"><i class="material-icons">search</i></button>
								</form>
								<!-- <button class="btn create" data-toggle="modal" data-target="#exampleModalCenter"><i
											class="material-icons">person_add</i></button> -->
							</div>
							<div class="list-group sort">
								<!-- <button class="btn filterMembersBtn active show" data-toggle="list" data-filter="all">All</button> -->
								<button class="btn filterMembersBtn" data-toggle="list" data-filter="custom">Custom</button>
								<button class="btn filterMembersBtn" data-toggle="list" data-filter="online">Offense</button>
								<button class="btn filterMembersBtn" data-toggle="list" data-filter="offline">Defense</button>

							</div>
							<div class="contacts">
								<h1>Playbooks</h1>
								<div class="list-group" id="contacts" role="tablist">
									<!-- subtracting "all" from online contract allows you to hide playbook when page reloads -->
									<a href="#" class="filterMembers online contact" data-toggle="list">
										<img class="avatar-md"
											src="templates/Swipe - The Simplest Chat Platform/html/dist/img/letters/r.jpg"
											data-toggle="tooltip" data-placement="top" title="Arizona" alt="avatar">
										<div class="status">
											<i class="material-icons online">fiber_manual_record</i>
										</div>
										<div class="data">
											<h5>Arizona Cardinals</h5>
											<p>Offense</p>
										</div>
										<div class="person-add">
											<i class="material-icons">check_box</i>
										</div>
									</a>
									<!-- subtracting "all" from online contract allows you to hide playbook when page reloads -->
									<a href="#" class="filterMembers offline contact" data-toggle="list">
										<img class="avatar-md"
											src="templates/Swipe - The Simplest Chat Platform/html/dist/img/letters/r.jpg"
											data-toggle="tooltip" data-placement="top" title="Arizona" alt="avatar">
										<div class="status">
											<i class="material-icons offline">fiber_manual_record</i>
										</div>
										<div class="data">
											<h5>Arizona Cardinals</h5>
											<p>Defense</p>
										</div>
										<div class="person-add">
											<i class="material-icons">check_box</i>
										</div>
									</a>
									<!-- subtracting "all" from online contract allows you to hide playbook when page reloads -->
									<a href="#" class="filterMembers custom contact" data-toggle="list">
										<img class="avatar-md"
											src="templates/Swipe - The Simplest Chat Platform/html/dist/img/letters/r.jpg"
											data-toggle="tooltip" data-placement="top" title="Arizona" alt="avatar">
										<div class="status">
											<i class="material-icons offline">fiber_manual_record</i>
										</div>
										<div class="data">
											<h5>Arizona Cardinals</h5>
											<p>Custom</p>
										</div>
										<!-- <div class="person-add">
												<i class="material-icons">check_box</i>
											</div> -->
									</a>
								</div>
								<form action="#" method="post">
									<input type="url" name="imglink1" id="imglink1" placeholder="Insert image URL here" /><br>
									<input type="button" value="Show Image" id="btn2" />
								</form>
								<div id="photo68"></div>

							</div>
						</div>
						<!-- End of Contacts -->
						<!-- Start of Discussions -->
						<div class="tab-pane fade active show" id="discussions">
							<div class="search">
								<form class="form-inline position-relative">
									<input type="search" class="form-control" id="conversations"
										placeholder="Search for conversations...">
									<button type="button" class="btn btn-link loop"><i class="material-icons">search</i></button>
								</form>
								<button class="btn create" data-toggle="modal" data-target="#startnewchat"><i
										class="material-icons">create</i></button>
							</div>
							<div class="list-group sort">
								<button class="btn filterDiscussionsBtn active show" data-toggle="list" data-filter="all">All</button>
								<button class="btn filterDiscussionsBtn" data-toggle="list" data-filter="read">Read</button>
								<button class="btn filterDiscussionsBtn" data-toggle="list" data-filter="unread">Unread</button>
							</div>
							<div class="discussions">
								<h1>Discussions</h1>
								<div class="list-group" id="chats" role="tablist">
									<a href="#list-chat" class="filterDiscussions all unread single active" id="list-chat-list"
										data-toggle="list" role="tab">
										<img class="avatar-md"
											src="templates/Swipe - The Simplest Chat Platform/html/dist/img/letters/j.jpg"
											data-toggle="tooltip" data-placement="top" title="Janette" alt="avatar">
										<div class="status">
											<i class="material-icons online">fiber_manual_record</i>
										</div>
										<div class="new bg-yellow">
											<span>+7</span>
										</div>
										<div class="data">
											<h5>Janette Dalton</h5>
											<span>Mon</span>
											<p>A new feature has been updated to your account. Check it out...</p>
										</div>
									</a>
									<a href="#list-empty" class="filterDiscussions all unread single" id="list-empty-list"
										data-toggle="list" role="tab">
										<img class="avatar-md"
											src="templates/Swipe - The Simplest Chat Platform/html/dist/img/letters/m.jpg"
											data-toggle="tooltip" data-placement="top" title="Michael" alt="avatar">
										<div class="status">
											<i class="material-icons offline">fiber_manual_record</i>
										</div>
										<div class="new bg-pink">
											<span>+10</span>
										</div>
										<div class="data">
											<h5>Michael Knudsen</h5>
											<span>Sun</span>
											<p>How can i improve my chances of getting a deposit?</p>
										</div>
									</a>
									<a href="#list-chat" class="filterDiscussions all read single" id="list-chat-list2" data-toggle="list"
										role="tab">
										<img class="avatar-md"
											src="templates/Swipe - The Simplest Chat Platform/html/dist/img/letters/l.jpg"
											data-toggle="tooltip" data-placement="top" title="Lean" alt="avatar">
										<div class="status">
											<i class="material-icons offline">fiber_manual_record</i>
										</div>
										<div class="data">
											<h5>Lean Avent</h5>
											<span>Tus</span>
											<p>Hey Chris, could i ask you to help me out with variation...</p>
										</div>
									</a>
									<a href="#list-empty" class="filterDiscussions all read single" id="list-empty-list2"
										data-toggle="list" role="tab">
										<img class="avatar-md"
											src="templates/Swipe - The Simplest Chat Platform/html/dist/img/letters/m.jpg"
											data-toggle="tooltip" data-placement="top" title="Mariette" alt="avatar">
										<div class="status">
											<i class="material-icons offline">fiber_manual_record</i>
										</div>
										<div class="data">
											<h5>Mariette Toles</h5>
											<span>5 mins</span>
											<p>By injected humour, or randomised words which...</p>
										</div>
									</a>

								</div>
								<form action="#" method="post">
									<input type="url" name="imglink" id="imglink" placeholder="Insert image URL here" /><br>
									<input type="button" value="Show Image" id="btn1" />
								</form>
								<div id="photo67"></div>
							</div>

						</div>
						<!-- End of Discussions -->
						<!-- Start of Notifications -->
						<div class="tab-pane fade" id="notifications">
							<div class="search">
								<form class="form-inline position-relative">
									<input type="search" class="form-control" id="notice" placeholder="Filter professional players...">
									<button type="button" class="btn btn-link loop"><i
											class="material-icons filter-list">filter_list</i></button>
								</form>
							</div>
							<div class="list-group sort">
								<button class="btn filterNotificationsBtn active show" data-toggle="list" data-filter="all">All</button>
								<button class="btn filterNotificationsBtn" data-toggle="list" data-filter="rank">Rank</button>
								<button class="btn filterNotificationsBtn" data-toggle="list" data-filter="cost">Cost</button>
							</div>
							<div class="notifications">
								<h1>Professional Players</h1>
								<div class="list-group" id="alerts" role="tablist">
									<!-- subtracting "all" from online contract allows you to hide playbook when page reloads -->
									<a href="#" class="filterNotifications all rank notification" data-toggle="list">
										<img class="avatar-md"
											src="templates/Swipe - The Simplest Chat Platform/html/dist/img/letters/r.jpg"
											data-toggle="tooltip" data-placement="top" title="Arizona" alt="avatar">
										<div class="status">
											<i class="material-icons offline">fiber_manual_record</i>
										</div>
										<div class="data">
											<h5>Paul McKenzie</h5>
											<p>Two Time Madden Champion</p>
										</div>
										<div class="person-add">
											<i class="material-icons">check_box</i>
										</div>
									</a>
									<a href="#" class="filterNotifications all cost notification" data-toggle="list">
										<img class="avatar-md"
											src="templates/Swipe - The Simplest Chat Platform/html/dist/img/letters/k.jpg"
											data-toggle="tooltip" data-placement="top" title="Janette" alt="avatar">
										<div class="status">
											<i class="material-icons offline">fiber_manual_record</i>
										</div>
										<div class="data">
											<h5>Doug Jones</h5>
											<p>$10 per game</p>
										</div>
										<div class="person-add">
											<i class="material-icons">check_box</i>
										</div>
									</a>
								</div>
								<form action="#" method="post">
									<input type="url" name="imglink2" id="imglink2" placeholder="Insert image URL here" /><br>
									<input type="button" value="Show Image" id="btn3" />
								</form>
								<div id="photo69"></div>

							</div>
						</div>
						<!-- End of Notifications -->
						<!-- Start of Settings -->
						<div class="tab-pane fade" id="settings">
							<div class="settings">
								<div class="profile">
									<img class="avatar-xl" src="templates/Swipe - The Simplest Chat Platform/html/dist/img/letters/m.jpg"
										alt="avatar">
									<h1><a href="#">Michael Knudsen</a></h1>
									<span>Helena, Montana</span>
									<div class="stats">
										<div class="item">
											<h2>122</h2>
											<h3>Fellas</h3>
										</div>
										<div class="item">
											<h2>305</h2>
											<h3>Chats</h3>
										</div>
										<div class="item">
											<h2>1538</h2>
											<h3>Posts</h3>
										</div>
									</div>
								</div>
								<div class="categories" id="accordionSettings">
									<h1>Settings</h1>
									<!-- Start of My Account -->
									<div class="category">
										<a href="#" class="title collapsed" id="headingOne" data-toggle="collapse"
											data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
											<i class="material-icons md-30 online">person_outline</i>
											<div class="data">
												<h5>My Account</h5>
												<p>Update your profile details</p>
											</div>
											<i class="material-icons">keyboard_arrow_right</i>
										</a>
										<div class="collapse" id="collapseOne" aria-labelledby="headingOne"
											data-parent="#accordionSettings">
											<div class="content">
												<div class="upload">
													<div class="data">
														<img class="avatar-xl"
															src="templates/Swipe - The Simplest Chat Platform/html/dist/img/letters/m.jpg"
															alt="image">
														<label>
															<input type="file">
															<span class="btn button">Upload avatar</span>
														</label>
													</div>
													<p>For best results, use an image at least 256px by 256px in
														either .jpg or .png format!</p>
												</div>
												<form>
													<div class="parent">
														<div class="field">
															<label for="firstName">First name <span>*</span></label>
															<input type="text" class="form-control" id="firstName" placeholder="First name"
																value="Michael" required>
														</div>
														<div class="field">
															<label for="lastName">Last name <span>*</span></label>
															<input type="text" class="form-control" id="lastName" placeholder="Last name"
																value="Knudsen" required>
														</div>
													</div>
													<div class="field">
														<label for="email">Email <span>*</span></label>
														<input type="email" class="form-control" id="email" placeholder="Enter your email address"
															value="michael@gmail.com" required>
													</div>
													<div class="field">
														<label for="password">Password</label>
														<input type="password" class="form-control" id="password" placeholder="Enter a new password"
															value="password" required>
													</div>
													<div class="field">
														<label for="location">Location</label>
														<input type="text" class="form-control" id="location" placeholder="Enter your location"
															value="Helena, Montana" required>
													</div>
													<button class="btn btn-link w-100">Delete Account</button>
													<button type="submit" class="btn button w-100">Apply</button>
												</form>
											</div>
										</div>
									</div>
									<!-- End of My Account -->
									<!-- Start of Chat History -->
									<div class="category">
										<a href="#" class="title collapsed" id="headingTwo" data-toggle="collapse"
											data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
											<i class="material-icons md-30 online">mail_outline</i>
											<div class="data">
												<h5>Chats</h5>
												<p>Check your chat history</p>
											</div>
											<i class="material-icons">keyboard_arrow_right</i>
										</a>
										<div class="collapse" id="collapseTwo" aria-labelledby="headingTwo"
											data-parent="#accordionSettings">
											<div class="content layer">
												<div class="history">
													<p>When you clear your conversation history, the messages will
														be deleted from your own device.</p>
													<p>The messages won't be deleted or cleared on the devices of
														the people you chatted with.</p>
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="same-address">
														<label class="custom-control-label" for="same-address">Hide
															will remove your chat history from the recent
															list.</label>
													</div>
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="save-info">
														<label class="custom-control-label" for="save-info">Delete
															will remove your chat history from the device.</label>
													</div>
													<button type="submit" class="btn button w-100">Clear
														blah-blah</button>
												</div>
											</div>
										</div>
									</div>
									<!-- End of Chat History -->
									<!-- Start of Notifications Settings -->
									<div class="category">
										<a href="#" class="title collapsed" id="headingThree" data-toggle="collapse"
											data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
											<i class="material-icons md-30 online">notifications_none</i>
											<div class="data">
												<h5>Notifications</h5>
												<p>Turn notifications on or off</p>
											</div>
											<i class="material-icons">keyboard_arrow_right</i>
										</a>
										<div class="collapse" id="collapseThree" aria-labelledby="headingThree"
											data-parent="#accordionSettings">
											<div class="content no-layer">
												<div class="set">
													<div class="details">
														<h5>Desktop Notifications</h5>
														<p>You can set up Swipe to receive notifications when you
															have new messages.</p>
													</div>
													<label class="switch">
														<input type="checkbox" checked>
														<span class="slider round"></span>
													</label>
												</div>
												<div class="set">
													<div class="details">
														<h5>Unread Message Badge</h5>
														<p>If enabled shows a red badge on the Swipe app icon when
															you have unread messages.</p>
													</div>
													<label class="switch">
														<input type="checkbox" checked>
														<span class="slider round"></span>
													</label>
												</div>
												<div class="set">
													<div class="details">
														<h5>Taskbar Flashing</h5>
														<p>Flashes the Swipe app on mobile in your taskbar when you
															have new notifications.</p>
													</div>
													<label class="switch">
														<input type="checkbox">
														<span class="slider round"></span>
													</label>
												</div>
												<div class="set">
													<div class="details">
														<h5>Notification Sound</h5>
														<p>Set the app to alert you via notification sound when you
															have unread messages.</p>
													</div>
													<label class="switch">
														<input type="checkbox" checked>
														<span class="slider round"></span>
													</label>
												</div>
												<div class="set">
													<div class="details">
														<h5>Vibrate</h5>
														<p>Vibrate when receiving new messages (Ensure system
															vibration is also enabled).</p>
													</div>
													<label class="switch">
														<input type="checkbox">
														<span class="slider round"></span>
													</label>
												</div>
												<div class="set">
													<div class="details">
														<h5>Turn On Lights</h5>
														<p>When someone send you a text message you will receive
															alert via notification light.</p>
													</div>
													<label class="switch">
														<input type="checkbox">
														<span class="slider round"></span>
													</label>
												</div>
											</div>
										</div>
									</div>
									<!-- End of Notifications Settings -->
									<!-- Start of Connections -->
									<div class="category">
										<a href="#" class="title collapsed" id="headingFour" data-toggle="collapse"
											data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
											<i class="material-icons md-30 online">sync</i>
											<div class="data">
												<h5>Connections</h5>
												<p>Sync your social accounts</p>
											</div>
											<i class="material-icons">keyboard_arrow_right</i>
										</a>
										<div class="collapse" id="collapseFour" aria-labelledby="headingFour"
											data-parent="#accordionSettings">
											<div class="content">
												<div class="app">
													<img
														src="/templates/Swipe - The Simplest Chat Platform/html/dist/img/placeholders/360x360.png"
														alt="app">
													<div class="permissions">
														<h5>Skrill</h5>
														<p>Read, Write, Comment</p>
													</div>
													<label class="switch">
														<input type="checkbox" checked>
														<span class="slider round"></span>
													</label>
												</div>
												<div class="app">
													<img
														src="/templates/Swipe - The Simplest Chat Platform/html/dist/img/placeholders/360x360.png"
														alt="app">
													<div class="permissions">
														<h5>Dropbox</h5>
														<p>Read, Write, Upload</p>
													</div>
													<label class="switch">
														<input type="checkbox" checked>
														<span class="slider round"></span>
													</label>
												</div>
												<div class="app">
													<img
														src="/templates/Swipe - The Simplest Chat Platform/html/dist/img/placeholders/360x360.png"
														alt="app">
													<div class="permissions">
														<h5>Google Drive</h5>
														<p>No permissions set</p>
													</div>
													<label class="switch">
														<input type="checkbox">
														<span class="slider round"></span>
													</label>
												</div>
												<div class="app">
													<img
														src="/templates/Swipe - The Simplest Chat Platform/html/dist/img/placeholders/360x360.png"
														alt="app">
													<div class="permissions">
														<h5>Trello</h5>
														<p>No permissions set</p>
													</div>
													<label class="switch">
														<input type="checkbox">
														<span class="slider round"></span>
													</label>
												</div>
											</div>
										</div>
									</div>
									<!-- End of Connections -->
									<!-- Start of Appearance Settings -->
									<div class="category">
										<a href="#" class="title collapsed" id="headingFive" data-toggle="collapse"
											data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
											<i class="material-icons md-30 online">colorize</i>
											<div class="data">
												<h5>Appearance</h5>
												<p>Customize the look of Swipe</p>
											</div>
											<i class="material-icons">keyboard_arrow_right</i>
										</a>
										<div class="collapse" id="collapseFive" aria-labelledby="headingFive"
											data-parent="#accordionSettings">
											<div class="content no-layer">
												<div class="set">
													<div class="details">
														<h5>Turn Off Lights</h5>
														<p>The dark mode is applied to core areas of the app that
															are normally displayed as light.</p>
													</div>
													<label class="switch">
														<input type="checkbox">
														<span class="slider round mode"></span>
													</label>
												</div>
											</div>
										</div>
									</div>
									<!-- End of Appearance Settings -->
									<!-- Start of Language -->
									<div class="category">
										<a href="#" class="title collapsed" id="headingSix" data-toggle="collapse"
											data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
											<i class="material-icons md-30 online">language</i>
											<div class="data">
												<h5>Language</h5>
												<p>Select preferred language</p>
											</div>
											<i class="material-icons">keyboard_arrow_right</i>
										</a>
										<div class="collapse" id="collapseSix" aria-labelledby="headingSix"
											data-parent="#accordionSettings">
											<div class="content layer">
												<div class="language">
													<label for="country">Language</label>
													<select class="custom-select" id="country" required>
														<option value="">Select an language...</option>
														<option>English, UK</option>
														<option>English, US</option>
													</select>
												</div>
											</div>
										</div>
									</div>
									<!-- End of Language -->
									<!-- Start of Privacy & Safety -->
									<div class="category">
										<a href="#" class="title collapsed" id="headingSeven" data-toggle="collapse"
											data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
											<i class="material-icons md-30 online">lock_outline</i>
											<div class="data">
												<h5>Privacy & Safety</h5>
												<p>Control your privacy settings</p>
											</div>
											<i class="material-icons">keyboard_arrow_right</i>
										</a>
										<div class="collapse" id="collapseSeven" aria-labelledby="headingSeven"
											data-parent="#accordionSettings">
											<div class="content no-layer">
												<div class="set">
													<div class="details">
														<h5>Keep Me Safe</h5>
														<p>Automatically scan and delete direct messages you receive
															from everyone that contain explict content.</p>
													</div>
													<label class="switch">
														<input type="checkbox">
														<span class="slider round"></span>
													</label>
												</div>
												<div class="set">
													<div class="details">
														<h5>My Friends Are Nice</h5>
														<p>If enabled scans direct messages from everyone unless
															they are listed as your friend.</p>
													</div>
													<label class="switch">
														<input type="checkbox" checked>
														<span class="slider round"></span>
													</label>
												</div>
												<div class="set">
													<div class="details">
														<h5>Everyone can add me</h5>
														<p>If enabled anyone in or out your friends of friends list
															can send you a friend request.</p>
													</div>
													<label class="switch">
														<input type="checkbox" checked>
														<span class="slider round"></span>
													</label>
												</div>
												<div class="set">
													<div class="details">
														<h5>Friends of Friends</h5>
														<p>Only your friends or your mutual friends will be able to
															send you a friend reuqest.</p>
													</div>
													<label class="switch">
														<input type="checkbox" checked>
														<span class="slider round"></span>
													</label>
												</div>
												<div class="set">
													<div class="details">
														<h5>Data to Improve</h5>
														<p>This settings allows us to use and process information
															for analytical purposes.</p>
													</div>
													<label class="switch">
														<input type="checkbox">
														<span class="slider round"></span>
													</label>
												</div>
												<div class="set">
													<div class="details">
														<h5>Data to Customize</h5>
														<p>This settings allows us to use your information to
															customize Swipe for you.</p>
													</div>
													<label class="switch">
														<input type="checkbox">
														<span class="slider round"></span>
													</label>
												</div>
											</div>
										</div>
									</div>
									<!-- End of Privacy & Safety -->
									<!-- Start of Logout -->
									<div class="category">
										<a href="#" class="title collapsed">
											<i class="material-icons md-30 online">power_settings_new</i>
											<div class="data">
												<h5>Power Off</h5>
												<p>Log out of your account</p>
											</div>
											<i class="material-icons">keyboard_arrow_right</i>
										</a>
									</div>
									<!-- End of Logout -->
								</div>
							</div>
						</div>
						<!-- End of Settings -->
					</div>
				</div>
			</div>
		</div>
		<!-- End of Sidebar -->
		<!-- Start of Add Friends -->
		<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="requests">
					<div class="card card-cascade">
						<div>
							<div class="view view-cascade overlay">

							</div>
							<!-- Card content -->
							<div class="card-body card-body-cascade text-center" action="Post">



								{{#each examples}}
								<a href="" data-toggle="tab"><img id="plyArt" class="card-img-top" src="{{imageLink}}"></a>
								<p>{{team}}</p>
								<p>{{ballSide}}</p>
								<p>{{Formation}}</p>
								<p>{{inForm}}</p>
								<p>{{playName}}</p>
								<p>{{imageLink}}</p>
								<br>

								{{!-- <a href="" data-toggle="tab"><i title="{{imageLink}}" class="material-icons">note_add</i></a> --}}
								{{!-- <button id="submit1" class="btn send"><i class="material-icons">send</i></button> --}}
								{{!-- <textarea readonly type="text" class="form-control" id="example-imageLink"
									aria-describedby="example-imageLink" rows="1">{{imageLink}}</textarea> --}}
								{{!-- <img id="plyArt" class="card-img-top" src="{{imageLink}}" > --}}
								{{/each}}

								{{!-- {{#each examples.[1]}}
								<p>{{team}}</p>
								
								{{/each}} --}}

								<!-- Title -->

								{{!-- <h4 class="card-title"><strong>
										<p>{{this.text}}</p>
									</strong></h4> --}}

								<!-- Subtitle -->
								{{!-- {{#each examples.[1]}}
								<h6 class="font-weight-bold indigo-text py-2">{{ballSide}}</h6>
								{{/each}} --}}
								{{!-- <!-- Text -->
								<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex,
									recusandae. Facere modi sunt, quod quibusdam.
								</p> --}}
								{{!-- <br> --}}


								{{!-- <a href="" data-toggle="tab"><i title="Backward" class="material-icons">arrow_back_ios</i></a> --}}

								{{!-- <a href="" data-toggle="tab"><i title="Add Play" class="material-icons">note_add</i></a> --}}

								{{!-- <a href="" data-toggle="tab"><i title="Forward" class="material-icons">arrow_forward_ios</i></a> --}}

								<br>

								<button type="button" data-dismiss="modal" class="material-icons">close</button>
							</div>


						</div>

						<!-- Card image -->

					</div>



					{{!-- <div class="title">
						<h1>Add your play</h1>
						<button type="button" class="btn" data-dismiss="modal" aria-label="Close"><i
								class="material-icons">close</i></button>
					</div>
					<div class="content">
						<form>
							<div class="form-group">
								<img class="avatar-sm" src="templates/Swipe - The Simplest Chat Platform/html/dist/img/letters/r.jpg"
									alt="avatar">

							</div>
							<div class="form-group">

								<img class="sendPlayPics w-100"
									src="templates/Swipe - The Simplest Chat Platform/html/dist/img/letters/Screen Shot 2019-04-09 at 9.46.45 AM.png"
									alt="avatar">

							</div>
							<button type="submit" class="btn button w-100">Send Play Recommendation</button>
						</form>
					</div> --}}
				</div>
			</div>

		</div>
		<!-- End of Add Friends -->

		<!-- Start of Create Chat -->
		<div class="modal fade" id="startnewchat" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="requests">
					<div class="title">
						<h1>Start new chat</h1>
						<button type="button" class="btn" data-dismiss="modal" aria-label="Close"><i
								class="material-icons">close</i></button>
					</div>
					<div class="content">
						<form>
							<div class="form-group">
								<label for="participant">Recipient:</label>
								<input type="text" class="form-control" id="participant" placeholder="Add recipient..." required>
								<div class="user" id="recipient">
									<img class="avatar-sm" src="templates/Swipe - The Simplest Chat Platform/html/dist/img/letters/k.jpg"
										alt="avatar">
									<h5>Keith Morris</h5>
									<button class="btn"><i class="material-icons">close</i></button>
								</div>
							</div>
							<div class="form-group">
								<label for="topic">Topic:</label>
								<input type="text" class="form-control" id="topic" placeholder="What's the topic?" required>
							</div>
							<div class="form-group">
								<label for="message">Message:</label>
								<textarea class="text-control" id="message"
									placeholder="Send your welcome message...">Hmm, are you friendly?</textarea>
							</div>
							<button type="submit" class="btn button w-100">Start New Chat</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- End of Create Chat -->
		<div class="main">
			<div class="tab-content" id="nav-tabContent">

				<h4 id="omega1">Message Board</h4>
				<!-- Start of Babble -->
				<div class="babble tab-pane fade active show" id="list-chat" role="tabpanel" aria-labelledby="list-chat-list">

					<!-- Start of Chat -->
					<div class="chat" id="chat1">
						<div class="top">
							<div class="container">
								<div class="col-md-12">
									<div class="inside">
										<a href="#"><img class="avatar-md"
												src="templates/Swipe - The Simplest Chat Platform/html/dist/img/letters/k.jpg"
												data-toggle="tooltip" data-placement="top" title="Keith" alt="avatar"></a>
										<div class="status">
											<i class="material-icons online">fiber_manual_record</i>
										</div>
										<div class="data">
											<h5><a href="#">Alpha Team Chat</a></h5>
											<span>Active now</span>
										</div>
										<button class="btn connect d-md-block d-none" name="1"><i
												class="material-icons md-30">phone_in_talk</i></button>
										<button class="btn connect d-md-block d-none" name="1"><i
												class="material-icons md-36">videocam</i></button>
										<button class="btn d-md-block d-none"><i class="material-icons md-30">info</i></button>
										<div class="dropdown">
											<button class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
													class="material-icons md-30">more_vert</i></button>
											<div class="dropdown-menu dropdown-menu-right">
												<button class="dropdown-item connect" name="1"><i class="material-icons">phone_in_talk</i>Voice
													Call</button>
												<button class="dropdown-item connect" name="1"><i class="material-icons">videocam</i>Video
													Call</button>
												<hr>
												<button class="dropdown-item"><i class="material-icons">clear</i>Clear
													History</button>
												<button class="dropdown-item"><i class="material-icons">block</i>Block
													Contact</button>
												<button class="dropdown-item"><i class="material-icons">delete</i>Delete
													Contact</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						{{!-- <form action="#" method="post">
							<input type="url" name="imglink" id="imglink" placeholder="Insert image URL here" /><br>
							<input type="button" value="Show Image" id="btn1" />
						</form>
						<div id="photo"></div> --}}
						<div class="content" id="content">
							<div class="container">
								<div class="col-md-12">
									<div class="date">
										<hr>
										<span>04/13/2019</span>
										<hr>
									</div>
									<div class="card w-100 card text-black bg-danger  ">
										<div class="card-body">
											<ul id="example-list" class="list-group">
												{{#each examples}}
												<li data-id="{{this.id}}" class="list-group-item">
													<p>{{this.text}}</p>


													{{!-- <button class="btn btn-danger float-right delete">ｘ</button> --}}
												</li>
												{{/each}}
											</ul>
											{{!-- <h5 class="card-title">Card title</h5>
											<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
											<a href="#" class="btn btn-primary">Button</a> --}}
										</div>
									</div>
									{{!-- <div class="message">
										<img class="avatar-md"
											src="templates/Swipe - The Simplest Chat Platform/html/dist/img/letters/k.jpg"
											data-toggle="tooltip" data-placement="top" title="Keith" alt="avatar">
										<div class="text-main">
											<div class="text-group">
												<div class="text">
													<p>We've got some killer ideas kicking about already.</p>
												</div>
											</div>
											<span>09:46 AM</span>
										</div>
									</div> --}}
									{{!-- <div class="message me">
										<div class="text-main">
											<div class="text-group me">
												<div class="text me">
													<p>Can't wait! How are we coming along with the client?</p>
												</div>
											</div>
											<span>11:32 AM</span>
										</div>
									</div> --}}

									{{!-- <div class="message">
										<img class="avatar-md"
											src="templates/Swipe - The Simplest Chat Platform/html/dist/img/letters/k.jpg"
											data-toggle="tooltip" data-placement="top" title="Keith" alt="avatar">
										<div class="text-main">
											<div class="text-group">
												<div class="text typing">
													<div class="wave">
														<span class="dot"></span>
														<span class="dot"></span>
														<span class="dot"></span>
													</div>
												</div>
											</div>
										</div>
									</div> --}}
								</div>
							</div>
						</div>
						<div class="container">
							<div class="col-md-12">
								<div class="bottom">

									<form class="position-relative w-100" action="POST">
										{{!-- code take from activity 3 of week 17 --}}
										{{!-- <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text"> --}}
										<textarea type="text" class="form-control" id="example-text" aria-describedby="example-text"
											placeholder="Start typing for reply..." rows="1"></textarea>
										{{!-- this is the original version of code that came with template --}}
										{{!-- <textarea class="form-control" placeholder="Start typing for reply..."
											rows="1"></textarea> --}}
										<!-- //"note add" is the way that material design choses what icon you want -->
										<!-- <button class="btn create" data-toggle="modal" data-target="#exampleModalCenter"><i
											class="material-icons">person_add</i></button> -->
										<button type="button" class="btn emoticons" data-toggle="modal" data-target="#exampleModalCenter"><i
												class="material-icons">note_add</i></button>
										{{!-- this is code from activity 3 week 17 --}}
										{{!-- <button id="submit" class="btn btn-primary float-right">Submit</button> --}}

										<button id="submit1" class="btn send"><i class="material-icons">send</i></button>

										{{!-- this is original code found in template --}}
										{{!-- <button type="submit" class="btn send"><i
												class="material-icons">send</i></button> --}}
									</form>
									<label>
										<input type="file">
										<span class="btn attach d-sm-block d-none"><i class="material-icons">attach_file</i></span>
									</label>
								</div>
							</div>
						</div>

					</div>
					<!-- End of Chat -->
					<!-- Start of Call -->
					<div class="call" id="call1">
						<div class="content">
							<div class="container">
								<div class="col-md-12">
									<div class="inside">
										<div class="panel">
											<div class="participant">
												<img class="avatar-xxl"
													src="templates/Swipe - The Simplest Chat Platform/html/dist/img/letters/k.jpg" alt="avatar">
												<span>Connecting</span>
											</div>
											<div class="options">
												<button class="btn option"><i class="material-icons md-30">mic</i></button>
												<button class="btn option"><i class="material-icons md-30">videocam</i></button>
												<button class="btn option call-end"><i class="material-icons md-30">call_end</i></button>
												<button class="btn option"><i class="material-icons md-30">person_add</i></button>
												<button class="btn option"><i class="material-icons md-30">volume_up</i></button>
											</div>
											<button class="btn back" name="1"><i class="material-icons md-24">chat</i></button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End of Call -->
				</div>
				<!-- End of Babble -->
				<!-- Start of Babble -->
				<div class="babble tab-pane fade" id="list-empty" role="tabpanel" aria-labelledby="list-empty-list">
					<!-- Start of Chat -->
					<div class="chat" id="chat2">
						<div class="top">
							<div class="container">
								<div class="col-md-12">
									<div class="inside">
										<a href="#"><img class="avatar-md"
												src="templates/Swipe - The Simplest Chat Platform/html/dist/img/letters/l.jpg"
												data-toggle="tooltip" data-placement="top" title="Lean" alt="avatar"></a>
										<div class="status">
											<i class="material-icons offline">fiber_manual_record</i>
										</div>
										<div class="data">
											<h5><a href="#">Lean Avent</a></h5>
											<span>Inactive</span>
										</div>
										<button class="btn connect d-md-block d-none" name="2"><i
												class="material-icons md-30">phone_in_talk</i></button>
										<button class="btn connect d-md-block d-none" name="2"><i
												class="material-icons md-36">videocam</i></button>
										<button class="btn d-md-block d-none"><i class="material-icons md-30">info</i></button>
										<div class="dropdown">
											<button class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
													class="material-icons md-30">more_vert</i></button>
											<div class="dropdown-menu dropdown-menu-right">
												<button class="dropdown-item connect" name="2"><i class="material-icons">phone_in_talk</i>Voice
													Call</button>
												<button class="dropdown-item connect" name="2"><i class="material-icons">videocam</i>Video
													Call</button>
												<hr>
												<button class="dropdown-item"><i class="material-icons">clear</i>Clear
													History</button>
												<button class="dropdown-item"><i class="material-icons">block</i>Block
													Contact</button>
												<button class="dropdown-item"><i class="material-icons">delete</i>Delete
													Contact</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="content empty">
							<div class="container">
								<div class="col-md-12">
									<div class="no-messages">
										<i class="material-icons md-48">forum</i>
										<p>Seems people are shy to start the chat. Break the ice send the first
											message.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="container">
							<div class="col-md-12">
								<div class="bottom">
									<form class="position-relative w-100">
										<textarea class="form-control" placeholder="Start typing for reply..." rows="1"></textarea>
										<!-- //"note add" is the way that material design choses what icon you want -->
										<button type="button" class="btn emoticons" data-toggle="modal" data-target="#exampleModalCenter"><i
												class="material-icons">note_add</i></button>
										<button type="submit" class="btn send"><i class="material-icons">send</i></button>
									</form>
									<label>
										<input type="file">
										<span class="btn attach d-sm-block d-none"><i class="material-icons">attach_file</i></span>
									</label>
								</div>
							</div>
						</div>
					</div>
					<!-- End of Chat -->
					<!-- Start of Call -->
					<div class="call" id="call2">
						<div class="content">
							<div class="container">
								<div class="col-md-12">
									<div class="inside">
										<div class="panel">
											<div class="participant">
												<img class="avatar-xxl"
													src="templates/Swipe - The Simplest Chat Platform/html/dist/img/letters/l.jpg" alt="avatar">
												<span>Connecting</span>
											</div>
											<div class="options">
												<button class="btn option"><i class="material-icons md-30">mic</i></button>
												<button class="btn option"><i class="material-icons md-30">videocam</i></button>
												<button class="btn option call-end"><i class="material-icons md-30">call_end</i></button>
												<button class="btn option"><i class="material-icons md-30">person_add</i></button>
												<button class="btn option"><i class="material-icons md-30">volume_up</i></button>
											</div>
											<button class="btn back" name="2"><i class="material-icons md-24">chat</i></button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End of Call -->
				</div>
				<!-- End of Babble -->
				<!-- Start of Babble -->
				<div class="babble tab-pane fade" id="list-request" role="tabpanel" aria-labelledby="list-request-list">
					<!-- Start of Chat -->
					<div class="chat" id="chat3">
						<div class="top">
							<div class="container">
								<div class="col-md-12">
									<div class="inside">
										<a href="#"><img class="avatar-md"
												src="templates/Swipe - The Simplest Chat Platform/html/dist/img/letters/l.jpg"
												data-toggle="tooltip" data-placement="top" title="Lean" alt="avatar"></a>
										<div class="status">
											<i class="material-icons offline">fiber_manual_record</i>
										</div>
										<div class="data">
											<h5><a href="#">Louis Martinez</a></h5>
											<span>Inactive</span>
										</div>
										<button class="btn disabled d-md-block d-none" disabled><i
												class="material-icons md-30">phone_in_talk</i></button>
										<button class="btn disabled d-md-block d-none" disabled><i
												class="material-icons md-36">videocam</i></button>
										<button class="btn d-md-block disabled d-none" disabled><i
												class="material-icons md-30">info</i></button>
										<div class="dropdown">
											<button class="btn disabled" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
												disabled><i class="material-icons md-30">more_vert</i></button>
											<div class="dropdown-menu dropdown-menu-right">
												<button class="dropdown-item"><i class="material-icons">phone_in_talk</i>Voice Call</button>
												<button class="dropdown-item"><i class="material-icons">videocam</i>Video Call</button>
												<hr>
												<button class="dropdown-item"><i class="material-icons">clear</i>Clear
													History</button>
												<button class="dropdown-item"><i class="material-icons">block</i>Block
													Contact</button>
												<button class="dropdown-item"><i class="material-icons">delete</i>Delete
													Contact</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="content empty">
							<div class="container">
								<div class="col-md-12">
									<div class="no-messages request">
										<a href="#"><img class="avatar-xl" src="dist/img/letters/l.jpg" data-toggle="tooltip"
												data-placement="top" title="Louis" alt="avatar"></a>
										<h5>Louis Martinez would like to add you as a contact. <span>Hi Keith, I'd
												like to add you as a contact.</span></h5>
										<div class="options">
											<button class="btn button"><i class="material-icons">check</i></button>
											<button class="btn button"><i class="material-icons">close</i></button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="container">
							<div class="col-md-12">
								<div class="bottom">
									<form class="position-relative w-100">
										<textarea class="form-control" placeholder="Messaging unavailable" rows="1" disabled></textarea>
										<!-- //"note add" is the way that material design choses what icon you want -->
										<button class="btn emoticons disabled" disabled><i class="material-icons">note_add</i></button>
										<button class="btn send disabled" disabled><i class="material-icons">send</i></button>
									</form>
									<label>
										<input type="file" disabled>
										<span class="btn attach disabled d-sm-block d-none"><i class="material-icons">attach_file</i></span>
									</label>
								</div>
							</div>
						</div>
					</div>
					<!-- End of Chat -->
				</div>
				<!-- End of Babble -->
			</div>
		</div>
	</div> <!-- Layout -->
</main>















<script>
	document.getElementById('btn1').addEventListener('click', function () {
		document.getElementById('photo67').innerHTML = '<img src="' + document.getElementById('imglink').value + '" alt="Image" />';
	});
</script>

<script>
	document.getElementById('btn2').addEventListener('click', function () {
		document.getElementById('photo68').innerHTML = '<img src="' + document.getElementById('imglink1').value + '" alt="Image" />';
	});
</script>

<script>
	document.getElementById('btn3').addEventListener('click', function () {
		document.getElementById('photo69').innerHTML = '<img src="' + document.getElementById('imglink2').value + '" alt="Image" />';
	});
</script>

{{!-- this is the javascript that the activity 3 of week 17 uses --}}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="templates/Swipe - The Simplest Chat Platform/html/dist/js/swipe.js"></script>

{{!-- this is the javascript that the template uses. Do not use it because it interfers with 3.2.1 which is found above!!!! --}}
{{!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script> --}}




{{!-- this link connects the higher level file main.handblebars to the deeper level file that exits inside the file located in the template--}}
<script>window.jQuery || document.write('<script src="templates/Swipe - The Simplest Chat Platform/html/dist/js/vendor/jquery-slim.min.js"><\/script>')</script>
{{!-- //this link was used to find the my way back to the higher level. it mirrors the above and it is the original  --}}
{{!-- <script>window.jQuery || document.write('<script src="dist/js/vendor/jquery-slim.min.js"><\/script>')</script> --}}
{{!-- this link connects the higher level file main.handblebars to the deeper level file that exits inside the file located in the template--}}
<script src="/templates/Swipe - The Simplest Chat Platform/html/dist/js/vendor/popper.min.js"></script>
{{!-- //this link was used to find the my way back to the higher level. it mirrors the above and it is the original  --}}
{{!-- <script src="dist/js/vendor/popper.min.js"></script> --}}
{{!-- this link connects the higher level file main.handblebars to the deeper level file that exits inside the file located in the template--}}
<script src="templates/Swipe - The Simplest Chat Platform/html/dist/js/swipe.min.js"></script>
{{!-- //this link was used to find the my way back to the higher level. it mirrors the above and it is the original  --}}
{{!-- <script src="dist/js/swipe.min.js"></script> --}}
<script src="templates/Swipe - The Simplest Chat Platform/html/dist/js/swipe.js"></script>
{{!-- //this link was used to find the my way back to the higher level. it mirrors the above and it is the original  --}}
{{!-- <script src="dist/js/swipe.min.js"></script> --}}

{{!-- this link connects the higher level file main.handblebars to the deeper level file that exits inside the file located in the template--}}
<script src="templates/Swipe - The Simplest Chat Platform/html/dist/js/bootstrap.min.js"></script>
{{!-- //this link was used to find the my way back to the higher level. it mirrors the above and it is the original  --}}
{{!-- <script src="dist/js/bootstrap.min.js"></script> --}}
<script>
	function scrollToBottom(el) { el.scrollTop = el.scrollHeight; }
	scrollToBottom(document.getElementById('content'));
</script>